@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Ovo);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic);

body, html {
  background: #292929;
  color: #333;
  font: 1em/1.5em Lato, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#countdown {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2.5em;
  text-align: center;
  width: 100%;
}

#countdown > div {
  color: #ccc;
  display: inline-block;
  margin: 0 4px;
}

#countdown > div > div {
  background: #fff;
  color: #444;
  font-size: 3em;
  padding: 1em;
}